curriculum {
    font-size: xx-large;
    border: 1px solid black;
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
datos_personales {
    background-color: blanchedalmond;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

residencia{
    border-radius: 15px ;
    background-color: seagreen;
    display: flex;
    padding: 10px;
}
datos_contacto {
    border-radius: 15px;
    background-color: aquamarine;
}
descripcion{
    border-radius: 15px;
    border: 15px solid seagreen;  
}
competencias {
    border-radius: 15px;
    border: 10px solid salmon;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
formacion {
    border-radius: 15px;
    border: 5px solid slategrey;
}
experiencia_trabajo{
    border-radius: 15px;
    border: 5px solid wheat;
}
nombre {
    display: flex;
    flex-direction: row;
}